[submodule "third_party/jedi-vim"]
        path = third_party/jedi-vim
        url = https://github.com/davidhalter/jedi-vim.git

[submodule "third_party/clang_complete"]
        path = third_party/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git

[submodule "third_party/supertab"]
        path = third_party/supertab
	url = https://github.com/ervandew/supertab.git
